# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# Node modules
node_modules/
npm-debug.log

# Vue
dist/
.DS_Store
.env
.env.local